<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title>Hackathon Website</title>

  </head>
  <body>
<%- include ('partials/header.ejs') %>
<%- include ('partials/nav2.ejs') %>
  <main id="maincat">
      <div class="about">
        <h2> About Hackathons</h2>
    <p> Hackathons are proving grounds for new ideas. They’re especially good tools to stimulate the creative and problem-solving juices of developers. Unlike their day jobs where risk-taking may be frowned upon, in a hackathon there is a low cost of failure.

The time limit in a hackathon forces participants to distil their visionary concepts down to actionable solutions.

Outsiders can bring a fresh perspective to business challenges, as well as give an outside-in view of products and organization. Engaging with participants during the hackathon is an excellent way to get feedback on a recently released API: learn where developers get stuck, what they love and what suggestions for improvement they have. </p>
</div>
</main>
<%- include ('partials/footer.ejs') %>
  </body>
</html>
