<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title>Hackathon Website</title>

  </head>
  <body>
<%- include ('partials/header.ejs') %>
<%- include ('partials/nav2.ejs') %>
  <main id="maincat">
      <div class="contact">
    <h3> Contact us for any queries </h3>
    <p><b> Email: </b> hackit@yahoo.com  <br>
                <b>Phone Number: </b> +1 6473473477 <br>
                  <b>Address : </b> 101,NewYork <br>
                   </p>
  </div>
  </main>
  <%- include ('partials/footer.ejs') %>
  </body>
</html>
