<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title>Hackathon Website</title>

  </head>
  <body>
<%- include ('partials/header.ejs') %>
<%- include ('partials/nav2.ejs') %>
    <main>
      <div id="header-image-menu">
        <img src="assets/images/hackathonimage.jpg" alt="Smiley face">
          <nav id = "image-text">
          <h2>  Welcome to Hackathon. </h2>
          <p><b> Thinking about a career in tech? Hackathons can help you explore the field that you are interested in.
			Our Hackathon challenges are for passionate individuals with an innate curiosity about all
			things in their area of ineterst. Open for participation to all majors and all class levels and from novice to experts in any field. </b></p>
          </nav>
      </div>
    </main>

    <%- include ('partials/footer.ejs') %>

  </body>
</html>
