<footer>
    <div	id = "footer">
      <nav id="footer-text1">
    <p> © All rights reserved | Hackathon for all</p>
  </nav>

  <nav id="footer-text3">
    <p> <a href="/about">About</a>
     <a href="/contact">Contact Us</a>
     <a href="#"> <img src="../assets/images/instagram.jpg" alt="Smiley face"/>   </a>
     <a href="#"> <img src="../assets/images/pininterest.jpg" alt="Smiley face"/> </a>
     <a href="#">  <img src="../assets/images/fb.jpg" alt="Smiley face"/> </a>
     <a href="#">  <img src="../assets/images/twitter.jpg" alt="Smiley face"/> </a> </p>
  </nav>
    </div>
  </footer>
